@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
    font-family: 'Roboto', 'Verdsns', sans-serif;
}


body {
    max-width: 800px;
    margin: 0 auto;
}

.name {
    padding: 5px 15px;
    margin: 15px 0 15px;
}

.position {
    border-bottom: solid 0.1rem rgb(63, 63, 63);
    padding: 5px 15px;
    margin: 0;
}

.contact {
    padding: 5px 15px;
}

.social {
    padding: 5px 15px;
    font-size: 2em;
}